
.titulo-principal{
font-size: 40px;
color: #172ad7;
text-align: center;
}
.inicio{
    text-align: center;
    width: 30px;
    height: 60px;
}
.sub-titulo{
    font-size: 300px;
    color:azure;
    text-align: center;
} 