
.titulo-principal{
font-size: 80px;
color: #172ad7;
text-align: center;
}
.inicio{
    text-align: center;
    width: 10px;
    height: 40px;
}
.sub-titulo{
    font-size: 50px;
    color:rgb(8, 9, 9);
    text-align: center;
} 
.descricao{
    font-size: 50;
    color: rgb(6, 7, 7);
    text-align: right;
    width: 0 50%;
}
